.wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
/* サイドバーヘッダー */
.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-new a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}
/* ルーム一覧 */
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

/* チャット */
.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}