.wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
/* サイドバーヘッダー */
.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-new a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}
/* ルーム一覧 */
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

/* チャット */
.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
/* チャットヘッダー */
.chat-header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.chat-exit a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}
/* メッセージ */
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 40px;
}

.upper-message {
  display: flex;
}

.name {
  font-size: 16px;
  color: #434A54;
  padding-right: 10px;
}

.date {
  font-size: 12px;
  color: #999;
}

.lower-message {
  margin-top: 10px;
}
  
.content {
  font-size: 14px;
  color: #434A54;
}

/* フォーム */
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.message-form {
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  padding: 0 20px;
  height: 50px;
  font-size: 16px;
  color: white;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}